/build.properties
build
ide-build
test-results
*.pidb
*.suo
*.user
_ReSharper*
*.iml
*.ipr
*.iws
.gradle
.DS_Store
gradle.properties
/src/Boo.Lang.Useful/*.cache
/docs/ndoc

/src/hmahboo.pfx
/hmahboo.cer
/hmahboo.pfx
/hmahboo.pvk
/hmahboo.spc
/tools/ndoc/_UpgradeReport_Files
/boo.dile.dileproj

/tests/booc.Tests/TestDoc.cs.ref
bin
/tools/ndoc/src/VisualStudio/obj
/tools/ndoc/src/Console/obj
/tools/ndoc/src/Console/bin
/tools/ndoc/src/Core/obj
/tools/ndoc/src/Core/bin
/tools/ndoc/src/Documenter/Intellisense/obj
/tools/ndoc/src/Documenter/Intellisense/bin
/tools/ndoc/src/Documenter/JavaDoc/obj
/tools/ndoc/src/Documenter/JavaDoc/bin
/tools/ndoc/src/Documenter/Latex/obj
/tools/ndoc/src/Documenter/Latex/bin
/tools/ndoc/src/Documenter/LinearHtml/obj
/tools/ndoc/src/Documenter/LinearHtml/bin
/tools/ndoc/src/Documenter/Msdn/obj
/tools/ndoc/src/Documenter/Msdn/bin
/tools/ndoc/src/Documenter/Msdn2/obj
/tools/ndoc/src/Documenter/Msdn2/bin
/tools/ndoc/src/Documenter/NativeHtmlHelp2/obj
/tools/ndoc/src/Documenter/NativeHtmlHelp2/bin
/tools/ndoc/src/Documenter/Xml/obj
/tools/ndoc/src/Documenter/Xml/bin
/tools/ndoc/src/ExtendedUI/obj
/tools/ndoc/src/ExtendedUI/bin
/tools/ndoc/src/Gui/bin
/tools/ndoc/src/Gui/obj
/tools/ndoc/src/Test/bin
/tools/ndoc/src/Test/obj
