/* VERSION 9345
Designed for IE5.x. Optimal in IE 6.x
CSS for use with Developer Tools Documentation

Localizable definitions:
font families
font sizes
*/


/* --------------------------------------------------
                  MAIN TOPIC STYLES
-------------------------------------------------- */
.userDataStyle
{
	behavior:	url(#default#userData);
}

div.saveHistory
	{
	behavior:url(#default#savehistory);
	text-decoration: underline
	}
body /* This body tag requires the use of one of the sets of banner and/or text div ids */
	{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background: #ffffff; 
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	width: 100%;
	}
div#scrollyes /* Allows topic to scroll with correct margins. Cannot be used with running head banner */
	{     /* Must immediately follow <body>. */
	padding: 2px 15px 2px 22px;
	width: 100%;
	}
div#nsbanner /* Creates Nonscrolling banner region */
	{
	position: relative;
	left: 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #999999;
	}
div#nstext /* Creates the scrolling text area for Nonscrolling region topic */
	{
	padding: 5px 10px 0px 22px; 
	}
div#scrbanner /* Creates the running head bar in a full-scroll topic */
	{     /* Allows topic to scroll. */
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #999999;
	}
div#scrtext /* Creates the text area in a full-scroll topic */
	{   /* Allows topic to scroll. */
	padding: 0px 10px 0px 22px; 
	}
div#bannerrow1 /* provides full-width color to top row in running head (requires script) */
	{
	background-color: #99ccff;
	}
div#titlerow /* provides non-scroll topic title area (requires script) */
	{
	width: 100%; /* Forces tables to have correct right margin */
	padding: 0px 10px 0px 22px; 
	background-color: #99ccff;        
	}

/* --------------------------------------------------
                    HEADING STYLES
-------------------------------------------------- */

h1, h2, h3, h4
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: .4em; 
	margin-top: 1em;
	font-weight: bold;
	}
h1
	{
	font-size: 120%;
	margin-top: 0em;
	}
div#scrollyes h1 /* Changes font size for full-scrolling topic */
	{
	font-size: 150%;
	}
h2
	{
	font-size: 130%;
	}
h3
	{
	font-size: 115%;
	}
h4
	{
	font-size: 100%;
	}
.dtH1, .dtH2, .dtH3, .dtH4
	{
	margin-left: -18px;
	}
div#titlerow h1
	{
	margin-bottom: .2em
	}

/* --------------------------------------------------
                     TEXT STYLES
-------------------------------------------------- */

p
	{
	margin: .5em 0em .5em 0em;
	}
blockquote.dtBlock
	{
	margin: .5em 1.5em .5em 1.5em;
	}
div#dtHoverText
	{
	color: #000066;
	}
.normal
	{
	margin: .5em 0em .5em 0em;
	}
.fineprint
	{
	font-size: 90%; /* 90% of 70% */
	}
.indent
	{
	margin: .5em 1.5em .5em 1.5em;
	}
.topicstatus /* Topic Status Boilerplate class */
	{
	display: block;
	color: red;
	}

/* --------------------------------------------------
                     LABEL STYLES
-------------------------------------------------- */

p.label
	{
	margin-top: 1em;
	}
p.labelproc
	{
	margin-top: 1em;
	color: #000066;
	}

/* --------------------------------------------------
                    GRAPHIC STYLES
-------------------------------------------------- */

img
	{
	border: none;
	vertical-align: top;
	margin-right: 2px;
	}

/* --------------------------------------------------
                     LIST STYLES
-------------------------------------------------- */

ol, ul
	{
	margin: .5em 0em 0em 2em; 
	}
li
	{
	margin-bottom: .5em;
	}
ul p, ol p, dl p
	{
	margin-left: 0em;
	}
ul p.label, ol p.label
	{
	margin-top: .5em;
	}

/* --------------------------------------------------
               DEFINITION LIST STYLES
-------------------------------------------------- */

dl
	{
	margin-top: 0em; 
	padding-left: 1px; /* Prevents italic-letter descenders from being cut off */
	}
dd
	{
	margin-bottom: 0em;  
	margin-left: 1.5em; 
	}
dt
	{
	margin-top: .5em; 
	}

/* --------------------------------------------------
           CODE, SYNTAX, and REFTIP STYLES
-------------------------------------------------- */

pre
	{
	margin-top: .5em;
	margin-bottom: .5em; 
	}
pre, code, .code
	{
	font: 100% Monospace, Courier New, Courier; /* This is 100% of 70% */
	color: #000066;
	}
pre b, code b
	{
	letter-spacing: .1em; /* opens kerning on bold in Syntax/Code */
	}
pre.syntax
	{
	background: #cccccc;
	padding: 4px 8px;
	cursor: text;
	margin-top: 1em;
	margin-bottom: 1em; 
	color: #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	}

/* --------------------------------------------------
                      LINK STYLES
-------------------------------------------------- */

a:link
	{
	color: #0000ff;
	}
a:visited
	{
	color: #0000ff;
	}
a:hover
	{
	color: #3366ff;
	}

/* ---------------------------
MSHelp\:link - Help HxLinks
--------------------------- */
MSHelp\:link
	{
	text-decoration: underline; 
	color: #0000ff; 
	hoverColor: #3366ff;
	filterString: ;
	}	
A.HxLinkTable /* MSHelp\:link - Table disambiguation elements */
	{
	}
/* ---------------------------
MSHelp\:ktable - Help links
--------------------------- */
MSHelp\:ktable
	{
	disambiguator: span;
	separator: &nbsp|&#32;
	prefix: |&#32;
	postfix: &nbsp;
	filterString: ;
	}
div.HxLinkTable
	{
	width: auto; /* Forces tables to have correct right margins and top spacing */
	margin-top: -.4em;
	visibility: visible;
	}
ol div.HxLinkTable, ul div.HxLinkTable
	{
	margin-top: 0em; /* Forces tables to have correct right margins and top spacing */
	}
table.HxLinkTable /* Keep in sync with general table settings below */
	{
	width: auto;
	margin-top: 1.5em;
	margin-bottom: .3em;
	margin-left: -1em;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999; 
	font-size: 100%; /* Text in Table is same size as text outside table */
	behavior:url(hxlinktable.htc); /* Attach the behavior to link elements. */
	}
table.HxLinkTable th, table.HxLinkTable td /* Keep in sync with general table settings below */
	{ 
	border-style: solid; /* Creates the cell border and color */
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #999999;
	padding: 4px 6px;
	text-align: left;
	}
table.HxLinkTable th /* Keep in sync with general table settings below */
	{ 
	background: #cccccc; /* Creates the shaded table header row */
	vertical-align: bottom;
	}
table.HxLinkTable td /* Keep in sync with general table settings below */
	{
	background: #ffffff;
	vertical-align: top;
	}

/* --------------------------------------------------
                    TABLE STYLES
-------------------------------------------------- */

div.tablediv
	{
	width: 100%; /* Forces tables to have correct right margins and top spacing */
	margin-top: -.4em;
	}
ol div.tablediv, ul div.tablediv, ol div.HxLinkTable, ul div.HxLinkTable
	{
	margin-top: 0em; /* Forces tables to have correct right margins and top spacing */
	}
table.dtTABLE
	{
	width: 100%; /* Forces tables to have correct right margin */
	margin-top: .6em;
	margin-bottom: .3em;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: #999999;
	background-color: #999999; 
	font-size: 100%; /* Text in Table is same size as text outside table */
	}
table.dtTABLE th, table.dtTABLE td
	{ 
	border-style: solid; /* Creates the cell border and color */
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #999999;
	padding: 4px 6px;
	text-align: left;
	}
table.dtTABLE th
	{
 	background: #cccccc; /* Creates the shaded table header row */
 	vertical-align: bottom;
	}
table.dtTABLE td	
	{
	background: #ffffff;
	vertical-align: top;
	}
table.dtTABLE td a	
	{
	vertical-align: top;
	}

/* --------------------------------------------------
ISSUE REPORTING AND MISC LINKS TOPIC FOOTER
-------------------------------------------------- */

div.footer
	{
	font-style: italic;
	}
div.footer hr
	{
	color: #999999;
	height: 1px;
	}

/* --------------------------------------------------
             STYLES FOR RUNNING HEADS
-------------------------------------------------- */

table.bannerparthead, table.bannertitle /* General values for the Running Head tables */
	{
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 21px; 
	border-collapse: collapse;
	border-style: solid;
	border-width: 0px;
	background-color: #99ccff; 
	font-size: 100%;
	}
table.bannerparthead td /* General Values for cells in the top row of running head */
	{
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 0px 4px;
	vertical-align: middle;
	/*border-width: 0px 0px 1px 0px; */
	border-width: 0px;
	border-style: solid;
	border-color: #999999;
	background: transparent; 
	font-style: italic;
	font-weight: normal;
	}
table.bannerparthead td.product /* Values for top right cell in running head */
	{                       /* Allows for a second text block in the running head */
	text-align: right;
	padding: 2px 5px 0px 5px;
	}
table.bannertitle td /* General Values for cells in the bottom row of running head */
	{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #999999;
	background: transparent;
	font-weight: bold;
	}
td.button1 /* Values for button cells */
	{
	width: 14px;
	cursor: hand;
	}


/* =================================================
            STYLES REQUIRED BY THE SCRIPT */

/* --------------------------------------------------
RUNNING HEAD BAR POPUP STYLES: See Also, Requirements, MultiLang Filtering
-------------------------------------------------- */

div.sapop, div.langMenu /* See Also & Requirements popups */
	{
	position: absolute;
	left: 0px;
	z-index: 1;
	width: 50%;
	padding: 0px 8px 5px 26px;
	visibility: hidden;
	border: 1px solid #999999; /* Same as all other border colors */
	background: #ffffcc;
	}
div.langMenu /* MultiLang Filter popup */
	{
	padding: 10px 10px 10px 10px;
	}
div.langMenu ul
	{
	list-style-type: none;
	padding-left: 5px;
	margin-left: 0px;
	}
.lang, .ilang /* controls the multilang tag styles */
	{
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
	}
h1 .lang, h1 .ilang 
	{
	font-size: 65%;
	}
div.filtered
	{
	margin-top: .6em;
	margin-bottom: .6em;
	margin-left: -7px;
	padding: 0px 0px 0px 6px;
	border-left: 1px solid #999999;
	background: #ffffff;
	}
div.filtered h1, div.filtered h2, div.filtered h3, div.filtered h4
	{
	margin-left: -22px;
	}
div.filtered span.lang
	{
	position: relative;
	left: 0px;
	}

/* --------------------------------------------------
              PARAMETER POPUP STYLES
-------------------------------------------------- */

div.reftip /* Defines the RefTip popup in Syntax */
	{
	position: absolute;
	z-index: 1;
	visibility: hidden;
	border: 1px solid #999999;
	background: #ffffcc;
/*	padding: 0px 0px 0px 0px; */	
	}
div.reftip dl /* Sets margin around the text within the popup */
	{
	margin: 3px 8px 8px 8px;
	}
a.synParam /* parameter popup links */
	{
	color: #0000ff; /* Must match the a:link style color */
	text-decoration: underline;
	}
a.synParam:visited /* ensures parameter popup links are always the unvisited color */
	{
	color: #0000ff; /* Must match the a:link style color */
	text-decoration: underline;
	}
a.synParam:hover /* parameter popup links */
	{
	color: #3366ff; /* Must match the a:hover style color */
	text-decoration: underline;
	font-style: italic;
	}

/* --------------------------------------------------
              EXPAND-COLLAPSE STYLES
-------------------------------------------------- */

div.expandBody
	{
	margin: .5em 0em 0em 1.4em;
	display:none;
	}
a.expandLink1
	{
	font-size: 115%; 
	}
a#ExPand
	{
	color: #3366ff; 
	font-weight: bold; 
	text-decoration: none; 
	}
a#ExPandAll
	{
	color: #3366ff; 
	font-weight: bold; 
	text-decoration: none; 
	}


/* --------------------------------------------------
              GLOSSARY POPUP STYLES 
          Not used by Visual Studio .NET 
-------------------------------------------------- */

/* COMMENT OUT GLOSSARY SECTION
/*div#popUpWindow
	{ Controlled by the script in the variable L_PopUpBoxStyle_Style
	}*/
a.glosslink:link
	{
	color: #000000;
	}
a.glosslink:visited
	{
	color: #000000; 
	}
a.glosslink:hover
	{
	color: #000000;
	font-style: italic;
	}
div#popUpWindow h5 /* Controls the style of the Term in Glossary Popups */
	{
	margin: 5px 5px 5px 5px;
	color: #000000;
	}
div#popUpWindow p /* Controls the style of the Text in Glossary Popups */
	{
	margin: 5px 5px 5px 5px;
	color: #000000;
	}
p.GLOSSARY_TEXT
	{
	}
div#popUpWindow a /* Controls the style of the Links in Glossary Popups */
	{
	}

/* END COMMENT OUT OF GLOSSARY SECTION */

/* END STYLES REQUIRED BY THE SCRIPT 
================================================== */
/* Not in dtue.css. Used by NDoc's "ShowMissing..." options. */
.missing
	{
	color: Red;
	font-weight: bold;
	}
div.Hierarchy
{
	margin-top    : 0.5em;
	margin-right  : 0.0em;
	margin-bottom : 0.5em;
	margin-left   : 1.0em;
}


