<configuration>
    <system.web>
        <compilation debug="true">
       <assemblies>          
          <add assembly="Boo.Lang.CodeDom" />
       </assemblies>
       <compilers>        
          <compiler language="Boo" extension=".boo" 
            type="Boo.Lang.CodeDom.BooCodeProvider, Boo.Lang.CodeDom" />
       </compilers>
    </compilation>
    </system.web>
</configuration>
       