#import csharp
#def getTargetFileName(): src/Boo/Ast/IAstTransformer.cs
using System;

namespace Boo.Ast
{
	public interface IAstTransformer
	{
		#for item in $model
			#unless $item.stereotype in ("collection", "enum") or "abstract" in $item.attributes			
		void On${item.name}(${item.name} node, ref $csharp.getResultTransformerNode($item) newNode);
			#end unless
		#end for
	}
}
