<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Net40.Collections.Immutable" version="2.0.3" targetFramework="net45" />
  <package id="Net40.Reflection.Metadata" version="2.0.3" targetFramework="net45" />
  <package id="NetFx.Extensions.Primitives" version="2.0.1" targetFramework="net45" />
</packages>